.provider-logo {
  border: 1px solid aqua;
  border-radius: 7px;
}
.provider-image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  align-items: center;
  gap: 15px;
}