.friend {
    border-radius: 8px;
    border: aqua .5px solid;
    transition: all .2s ease-in-out;
    position: relative;
    background-color: black;
    box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 39%, 0.81);
}

.friend:hover {
    transform: scale(1.08);
    z-index: 1;
    box-shadow: 4.0px 8.0px 8.0px hsla(179, 37%, 53%, 0.945);
}

.friend-avatar {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 20px;
}

.friend .dropdown {
    position: absolute;
    display: inline-block;
    /* top: 230px; */
    right: 9px;
    z-index: 999;
    /* right: 0; */
    /* top: calc(100% + 7px); */
}
.friend .dropdown-button {
    display: flex;
    flex-direction: row;
    gap: 1px;
    cursor: pointer;
    z-index: 999;
}

.friend .dropdown-button:hover {
    background-color: #00ffff6d;
    border-radius: 20px;
}

.friend .dot {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #00ffffb9;
    border-radius: 50%; /* Creates circular dots */
    margin: 1px;
    z-index: 999;
}

.friend .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1f24;
    border: 1px solid #1d1f24;
    padding: 12px 12px;
    border-radius: 8px;
    
}

.friend .dropdown:hover .dropdown-content {
    display: block;
}

.friend .dropdown-content button {
    display: block;
    /* color: black; */
    font-size: 14px;
    padding: 5px 5px;
    color: aqua;
    border: none; 
    background-color: transparent;
    font-family: 'Montserrat Alternates', sans-serif;
}

.friend .dropdown-content .view-profile {
    font-family: 'Montserrat Alternates', sans-serif;
    color: aqua;
}

/* .friend .dropdown-content button:hover {
    background-color: hsl(206, 4%, 61%);
} */

.friend-name {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    letter-spacing: 1px;
}
