.friend-search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
  font-family: inherit
}

.all-friend-search-elements {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.name-form-inputs {
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-align: center;
  /* background-color: black; */
}

#firstSearch {
  background-color: #1d1f24;
  border-radius: 30px;
  width: 310px;
  height: 20px;
  border-style: none;
  font-size: 18px;
  border: 2px aqua solid;
  font-family: inherit;
  color: white;
  padding: 12px;
}

#lastSearch {
  background-color: #1d1f24;
  border-radius: 30px;
  width: 310px;
  height: 20px;
  border-style: none;
  font-size: 18px;
  border: 2px aqua solid;
  font-family: inherit;
  color: white;
  padding: 12px;
}

.friend-search-button {
  background-color: aqua;
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  margin-left: 25px;
  cursor: pointer;
  box-shadow: 0 5px rgb(2, 192, 192);
}

.friend-search-button:hover {
  background-color: rgb(2, 192, 192);
}

.friend-search-button:active {
  background-color: rgb(2, 192, 192);
  box-shadow: 0 5px rgb(5, 116, 116);
  transform: translateY(4px);
}

.searched-friend-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.friend-search-form .friend-display {
  width: 60%;
  height: 100%;
}

.friend-search-form .friend {
  margin: 40px 0;
}


