.friend-display {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 60%;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px 40px;
  gap: 30px;
  margin-top: 0;
  scroll-behavior: smooth;
  height: 100%;
  scrollbar-color: transparent;
  overscroll-behavior-x: contain;
  background: radial-gradient(black, black, black, aqua);
  border-radius: 5px;
  /* margin-bottom: 100px; */
}

.friend-display::-webkit-scrollbar {
  display: none;
}


