.friend-display {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 825px;;
  overflow: scroll;
  gap: 25px;
  /* position: relative; */
  top: 250px;
  left: 400px;
  color: white;
}


