.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  /* margin: 20px 20px;   */
  /* margin-right: 40px;   */
}

.profile {
  margin-left: 328px;
  padding-left: 10px;
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.profile-info {
  display: flex;
  margin: 50px 30px;
}

.user-info {
  margin-left: 30px;
}

.watched-and-friends {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: -10px;
}

.name {
  letter-spacing: 3px;
  font-size: 50px;
  display: flex;
  gap: 15px;
}
/* 
.name :hover {
  color: #2592a4;
} */

.quote {
  font-style: italic;
  font-size: 20px;
  margin-left: 20px;
  margin-top: -5px;
}

.text {
  font-style: italic;
  font-size: 15px;
}

.easy-edit-hover-on {
  font-style: normal;
}


.profile-card {
  height: 120px;
}
