.profile {
  color: white;
  height: 100vh;
  width: 100%;
  padding: 20px;
  margin-left: 30vw;
  font-family: 'Montserrat Alternates', sans-serif;
}

.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 200px;
  height: auto;
  border-radius: 30px;
  /* overflow: hidden; */
  border: white 1px solid;
  box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 39%, 0.81);
  object-fit: cover;
}


.profile-info {
  border: white 5px;
  display: flex;
  background-color: black;
  width: 616px;
  padding: 30px;
  border-radius: 50px;
  margin-top: 20px;
  width: 620px;
  height: 230px;
  /* align-items: center; */
  margin-bottom: 35px;
}


.user-info {
  margin-left: 30px;
  text-align: center;
}

.name {
  letter-spacing: 3px;
  font-size: 50px;
  display: flex;
  gap: 15px;
  color: white;
  text-shadow: 2px 2px 4px #aaa8b3;
  font-family: 'Bruno Ace SC', cursive;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Montserrat Alternates', sans-serif; */
  /* font-family: 'Poiret One', cursive; */
  /* font-family: 'Raleway', sans-serif; */
}
/* 
.name :hover {
  color: #2592a4;
} */

.quote {
  font-size: 20px;
  margin-left: 20px;
  margin-top: -5px;
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 2px;
}
h4 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
  /* text-decoration: underline; */
}

.text {
  /* font-style: italic; */
  font-size: 15px;
}

/* .easy-edit-hover-on {
  font-style: normal;
} */


.profile-card {
  height: 120px;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightslategray;
  margin-top: 50px;
  width: 300px;
}

/* .rw-underline {
  text-align: left;
} */

.friends-list {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 850px;
}

.friend-cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}