.movie-page {
    margin-left: 25vw;
    padding-top: 6vh;
    padding-right: 5vw;
    color: white;
}

h1 {
    font-size: 5vw;
    font-family: 'Agelast';
    letter-spacing: 2px;
    line-height: 1.25;
    text-shadow:
        /* 0 0 7px #fff, */
        /* 0 0 10px #fff, */
        0 0 21px #fff,
        /* 0 0 42px aqua, */
        0 0 82px aqua,
        0 0 92px aqua,
        0 0 102px aqua,
        0 0 151px aqua;
        margin-bottom: 75px;
}


.movie-content {
    display: flex;
    gap: 20px;
}

.movie-page .filler-movie-container {
    width: 386px;
    height: 479px;
    box-shadow: 4.0px 8.0px 8.0px hsla(179, 37%, 53%, 0.698);
    border-radius: 4px;
    border: .5px solid aqua;
    font-size: 34px;
}

.movie-page .poster-filler {
    font-size: 50px;
}

.movie-page-poster {
    width: 386px;
    height: 479px;
    box-shadow: 4.0px 8.0px 8.0px hsla(179, 37%, 53%, 0.698);
    border-radius: 4px;
    border: .5px solid aqua;
}

.movie-facts-container {
    /* border: .5px solid aqua; */
    font-family: Montserrat;
    padding: 30px 30px 0 30px;
    line-height: 1.25;
    /* border-radius: 30px; */
    /* box-shadow: 4.0px 8.0px 8.0px hsla(179, 37%, 53%, 0.698); */
}

.overview {
    margin-bottom: 0;
}

.info-header {
    font-size: 23px;
    margin-bottom: 0px;;
}

.specs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: first baseline;
    gap: 10px;
}

.line-info {
    margin-top: 0;
    margin-left: 20px;
}

.tagline {
    font-size: 20px;
    text-shadow:
        /* 0 0 7px #fff, */
        /* 0 0 10px #fff, */
        0 0 21px #fff,
        0 0 42px aqua,
        0 0 82px aqua,
        0 0 92px aqua,
        0 0 102px aqua,
        0 0 151px aqua;
    margin-bottom: 30px;
}

.facts-add-playlist {
    border: .5px aqua solid;
    border-radius: 30px;
    padding-bottom: 30px;
}

.add-to-playlists-container h4 {
    margin-bottom: 5px;
}

.movie-page-playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    gap: 15px;
}

.movie-page-playlists button {
    background-color: aqua;
    width: 150px;
    height: 20px;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 5px rgb(2, 192, 192);
    
}

.movie-page-playlists button:hover {
    background-color: rgb(2, 192, 192);
}

.movie-page-playlists button:active {
    background-color: rgb(2, 192, 192);
    box-shadow: 0 5px rgb(5, 116, 116);
    transform: translateY(4px);
}

.add-to-playlists-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Montserrat;
    padding-left: 30px;
}



/* #user-button {
    background-color: aqua;
    width: 100px;
    height: 20px;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 5px rgb(2, 192, 192);
}

#user-button:hover {
    background-color: rgb(2, 192, 192);
}

#user-button:active {
    background-color: rgb(2, 192, 192);
    box-shadow: 0 5px rgb(5, 116, 116);
    transform: translateY(4px);
} */




/* 
.dropdown {
    display: inline-block;
    top: 4px;
    right: 4px;
    z-index: 2;
}
.dropdown-button {
    display: flex;
    flex-direction: row;
    gap: 1px;
    cursor: pointer;
}

.dot {
    display: block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: 4px auto;
}

.dropdown-content {
    border-radius: 7px;
    display: none;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    padding: 12px 12px;
    width: 150px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: black;
    font-size: 14px;
    padding: 5px 5px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-content a:hover {
    background-color: rgba(112, 224, 224, 0.596);
    border-radius: 7px;
} */

/* width: 186px;
  height: 279px; */