.movie-page {
    margin-left: 25vw;
    padding-top: 3vh;
    padding-right: 5vw;
    color: white;
}

h1 {
    font-size: 3vw;
}

.movie-page-poster {
    display: block;
    height: 50vh;
    width: auto;
    /* margin-left: 30vw; */
}

.movie-content {
    display: flex;
    gap: 20px;
}


.dropdown {
    /* position: absolute; */
    display: inline-block;
    top: 4px;
    right: 4px;
    z-index: 2;
}
.dropdown-button {
    display: flex;
    flex-direction: row;
    gap: 1px;
    /* width: 20px; */
    /* height: auto; */
    cursor: pointer;
}

.dot {
    display: block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%; /* Creates circular dots */
    margin: 4px auto;
}

.dropdown-content {
    display: none;
    /* position: absolute; */
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    color: black;
    padding: 12px 12px;
    width: 150px;
    /* z-index: 2; */
}

.dropdown:hover .dropdown-content {
    display: block;
    /* z-index: 2; */
}

.dropdown-content a {
    display: block;
    color: black;
    font-size: 14px;
    padding: 5px 5px;
}

.dropdown-content a:hover {
    background-color: #f5f5f5;
}