/* .watched-container {
  height: 1000px;
  overflow: hidden;
  align-items: center;
} */

.profile-watched-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  /* padding-right: 100px; */
  padding: 50px 30px;
  gap: 25px;
  width: 60%;
  margin-top: 0;
  scroll-behavior: smooth;
  height: 230px;
  scrollbar-color: transparent;
  overscroll-behavior-x: contain;
  background: radial-gradient(black, black, black, aqua);
  border-radius: 5px;
  margin-bottom: 60px;
}

.profile-watched-display::-webkit-scrollbar {
  display: none;
}