.user-profile {
    color: white;
    height: 100vh;
    width: 100%;
    padding: 20px;
    margin-left: 30vw;
    font-family: 'Montserrat Alternates', sans-serif;
}

.user-profile-container {
    margin-bottom: 200px;
}

.user-profile-about {
    /* border: 2px solid aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 40px;
}

.user-avatar {
    width: 200px;
    height: auto;
    border-radius: 30px;
    /* overflow: hidden; */
    border: aqua 1px solid;
    box-shadow: 4.0px 8.0px 8.0px hsla(179, 37%, 53%, 0.698);
    object-fit: cover;
    margin-left: 40px;
}

.user-profile-info {
    display: flex;
    flex-direction: column;
    border: white 5px;
    display: flex;
    border-radius: 50px;
    height: 100%;
    border: 2px solid aqua;
}

.user-button-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#user-button {
    background-color: aqua;
    width: 100px;
    height: 20px;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 5px rgb(2, 192, 192);
}

#user-button:hover {
    background-color: rgb(2, 192, 192);
}

#user-button:active {
    background-color: rgb(2, 192, 192);
    box-shadow: 0 5px rgb(5, 116, 116);
    transform: translateY(4px);
}

.user-friend-info {
    margin-left: 30px;
    text-align: center;
    width: 500px;
}

.user-friend-name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    letter-spacing: 3px;
    font-size: 50px;
    display: flex;
    gap: 15px;
    color: white;
    text-shadow: 2px 2px 4px #aaa8b3;
    font-family: 'Bruno Ace SC', cursive;
    width: 500px;
}

.user-friend-quote {
    font-size: 20px;
    margin-left: 20px;
    margin-top: -5px;
    font-family: inherit;
    letter-spacing: 2px;
}

.user-profile h4 {
    font-family: inherit;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.text {
    /* font-style: italic; */
    font-size: 15px;
}

.user-friend-name .easy-edit-hover-on {
    font-style: normal;
} 

.user-profile .friends-list {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.friend-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.invitation {
    color: white;
}

footer {
    width: 100%;
    height: 200px;
}

