.avatar {
  width: 200px;
  height: 200px;
  /* margin: 20px 20px;   */
  /* margin-right: 40px;   */
}

.profile {
  margin-left: 328px;
  padding-left: 10px;
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.profile-info {
  display: flex;
  margin: 50px 30px;
}

.user-info {
  margin-left: 30px;
}
.watched-and-friends {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

.name {
  letter-spacing: 3px;
  font-size: 50px;
}

.quote {
  font-style: italic;
  font-size: 20px;
  margin-left: 20px;
  margin-top: -5px;
}