.playlist-field {
    background-color: #1d1f24;
    border-radius: 30px;
    width: 90%;
    height: 1vh;
    border-style: none;
    font-family: inherit;
    color: white;
    padding: 12px;
    margin-bottom: 5px;
    margin-top: 30px;
}

.playlist-field:focus {
    outline: 1px aqua solid;
}

.add-playlist-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    border-radius: 30px;
    border: 0.5px aqua solid;
    font-family: inherit;
    cursor: pointer;
    background-color: #1d1f24;
    color: white;
    letter-spacing: 0.8px;
    font-weight: bold;
}


.playlist-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 4vw;
    gap: 15px;
    width: 100%;
    margin-bottom: 50px;
    /* border: 2px red solid; */
    /* width: 17vw; */
}