.sign-in-button {
  background-color: aqua;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 320px;
  /* right: 53px; */
  right: 40px;
  width: 200px;;
  height: 45px;
  border-radius: 30px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0 5px rgb(2, 192, 192);
  margin-right: 0;
  font-size: 16px;
}