@font-face {
  font-family: 'Agelast';
  font-display: auto;
  src: url('/fonts/Agelast-mLlAm.otf') format('opentype');
}

.shelf-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* font-family: Potra; */
  /* font-family: Objectis; */
  /* font-family: Neon Magic; */
  font-family: 'Agelast';
  font-weight: bold;
  transition: transform 0.5s ease-in-out;
  /* font-family: Stacker; */
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.playlist-form {
  margin-top: 10px;
  display: flex;
  height: 30px;
}

.shelf-playlist:hover {
  transform: scale(1.03);
}



