@font-face {
  font-family: 'Agelast';
  font-display: auto;
  src: url('/fonts/Agelast-mLlAm.otf') format('opentype');
}

.shelf-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;

  /* font-family: Potra; */
  /* font-family: Objectis; */
  /* font-family: Neon Magic; */
  font-family: 'Agelast';
  font-weight: bold;
  /* font-family: Stacker; */
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.shelf-playlist-form {
  /* border: 2px yellow solid; */
  width: 100%;
  margin-left: -12px;
}






