.context-menu {
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    background-color: gray;
    padding: 3px;
    font-size: 12px;
    letter-spacing: 1px;
}

.context-menu.show {
    display: flex;
}

.context-menu.show:hover {
    font-weight: normal;
}
