ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.playlist-form {
  margin-top: 10px;
  display: flex;
  height: 30px;
}

.playlist :hover {
  font-weight: bold;
}

.shelf-container {
  font-family: 'Montserrat Alternates', sans-serif;
}