.sidebar {
  max-width: 30vw;
  min-width: 20vw;
  height: 100vh;
  align-items: left;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 1000;
}


.sidebar-elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20vw;
  height: 100vh;
  align-items: left;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

