
.sidebar {
  /* width: 30px; */
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 999;
  margin-top: 0;
}


/* @font-face {
  font-family: 'Agelast';
  font-display: auto;
  src: url('/fonts/Agelast-mLlAm.otf') format('opentype');
} */


.sidebar-elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 20vw;
  height: 100vh;
  align-items: flex-start;
  color: white;
  font-size: 20px;
  }


.sidebar a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.sidebar-user {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 5px;
}

.sidebar-user-icon { 
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 50px;
}

.clickable:hover{ 
  text-shadow:
  0 0 21px #fff,
  0 0 82px aqua,
  0 0 92px aqua,
  0 0 102px aqua,
  0 0 151px aqua;
}

.side-login {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 40px;
  margin-right: 35px;
}

.sign-out-button {
  background-color: aqua;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 30px;
  width: 11vw;
  height: 4vh;
  border-radius: 30px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0 5px rgb(2, 192, 192);
  margin-right: 0;
  font-size: 16px;
}


.sign-out-button:hover {
  background-color: rgb(2, 192, 192);
}

.sign-out-button:active {
  background-color: rgb(2, 192, 192);
  box-shadow: 0 5px rgb(5, 116, 116);
  transform: translateY(4px);
}

.user-signed-in {
  display: flex;
  position: relative;
  bottom: 200px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: 0;
  height: 18vh;

}

.sign-in-button {
  background-color: aqua;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 63px;
  width: 11vw;
  height: 5vh;
  border-radius: 30px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  box-shadow: 0 5px rgb(2, 192, 192);
  margin-right: 0;
  font-size: 14px;
}


.sign-in-button:hover {
  background-color: rgb(2, 192, 192);
}

.sign-in-button:active {
  background-color: rgb(2, 192, 192);
  box-shadow: 0 5px rgb(5, 116, 116);
  transform: translateY(4px);
}

.sign-in-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  margin-right: 35px;
}