.sidebar {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 999;
  font-family: 'Montserrat Alternates', sans-serif;
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 25vw; 
}
  .App {
    padding-left: 25vw;
  }
}

@font-face {
  font-family: 'Agelast';
  font-display: auto;
  src: url('/fonts/Agelast-mLlAm.otf') format('opentype');
}


.sidebar-elements {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20vw;
  height: 100vh;
  align-items: left;
  color: white;
  font-size: 20px;
  }



a {
  text-decoration: none;
  color: white;
  font-family: 'Agelast';
  font-weight: bold;
}

.sidebar-user {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 5px;
}

.sidebar-user-icon { 
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.clickable:hover{ 
  text-shadow:
  0 0 21px #fff,
  0 0 82px aqua,
  0 0 92px aqua,
  0 0 102px aqua,
  0 0 151px aqua;
}

.sign-in-button {
  background-color: aqua;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 5vh;
  border-radius: 30px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0 5px rgb(2, 192, 192);
}

.sign-in-button:hover {
  background-color: rgb(2, 192, 192);
}

.sign-in-button:active {
  background-color: rgb(2, 192, 192);
  box-shadow: 0 5px rgb(5, 116, 116);
  transform: translateY(4px);
}

.user-signed-in {
  display: flex;
  flex-direction: column;
  height: 18vh;
  justify-content: space-evenly;
}