.get-related-search-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.get-related-search-input {
  background-color: #1d1f24;
  border-radius: 30px;
  width: 450px;
  height: 40px;
  border-style: none;
  font-size: 22px;
  border: 2px aqua solid;
  font-family: inherit;
  color: white;
  padding: 12px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}