.search {
    text-align: center;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* .search-form {
    
} */

.search-button {
    background-color: #dbbbfa;
    border: none;
    color: black;
    width: 200px;
    height: 25px;
    border-radius: 1px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.form-selector {
    border: none;
    /* width: 200px;
    height: 25px; */
    border-radius: 4px;
}

.dropdown-btn {
    appearance: none;
    background: #1d1f24;
    position: relative;
    text-align: center;
    font-size: 18px;
    width: 40%;
    height: 70px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 10px;
    align-items: center;
    padding: 0.7em 0.5em;
    cursor: pointer;
    border-radius: 50px;
    /* border: 7px solid transparent;
    background: linear-gradient(45deg, rgba(131,58,180,1) 0%, rgba(29,253,239,1) 50%, rgba(252,176,69,1) 100%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;   */
}

h1 {
    color: white;
    font-size: 20px;
    margin-top: 50px;
}




/* 
.search {
    text-align: center;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.search-button {
    background-color: #dbbbfa;
    border: none;
    color: black;
    width: 200px;
    height: 25px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.form-selector {
    background-color: black;
    border: none;
    width: 200px;
    height: 25px; 
    border-radius: 4px; 
} 

.dropdown-btn {
    background: #1d1f24;
    text-align: center;
    font-size: 18px;
    width: 40%;
    border: white;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 10px;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

h1 {
    color: white;
    font-size: 20px;
    margin-top: 50px;
}  */